/* common */
*{ margin:0; padding:0; }
body{ background-color:gainsboro;  }

.clear:after{ content:''; display:block; clear:both; }

/* ----------AppHeader---------- */
.appHeader{ width:100%; line-height:50px; padding:30px; text-align:center; font-size:30px; background-color:#353434; }
.appHeader > button{ border:none; color:gainsboro; font-size:30px; background-color:transparent; }
.appHeader > button:focus{ outline:none; }


/* ----------MainConts---------- */
.mainConts{ margin:50px auto 0; width:500px; }
.mainConts > .checkbox{  width:400px; margin:0 auto; }
.mainConts > .checkbox > label{ border:2px solid #353434; margin:0 10px 30px; padding:5px 10px; display:inline-block; cursor:pointer; }
.mainConts > .checkbox > label > input{ outline:2px solid orange; display:none; }
.checkStyle{ background-color:#353434; color:gainsboro; }

.mainConts > .inputBox{ border-bottom:2px solid #353434; height:50px; }
.mainConts > .inputBox > input{  width:90%; height:100%; padding:0 20px; font-size:20px; }
.mainConts > .inputBox > input:focus{ outline:none; }
.mainConts > .inputBox > button{ border:2px solid #353434; width:10%; height:75%; background-color:transparent; }
.mainConts > .inputBox > button:hover{ color:gainsboro; background-color:#353434; }
.mainConts > .inputBox > button:focus{ outline:none; }



/* ----------MovieConts---------- */
/* .movieConts{ outline:2px solid red; }
.movieBox{ outline:2px solid blue; width:220px; float:left; position:relative; }
.movieBox > .imgTitle { width:220px; height:300px; }
.movieBox > .textData{ background-color:rgba(0, 0, 0, .2); width:220px; height:300px; position:absolute; top:0; }
.movieBox > .textData > li{ width:100%; } */
.movieConts{ width:100%; max-width:1000px; margin:0 auto; padding:50px; }
.movieConts > h2{  text-align:center; }
.movieConts > .gomainBtn{ border:2px solid #353434; padding:10px; font-size:20px; background-color:transparent; }
.movieConts > .gomainBtn:focus{ outline:none; }

.movieConts > .dataBox{ }
.movieConts > .dataBox > .movies{ }

.movieConts > .dataBox > .movies > .movieBox{ margin:10px; float:left; }
.movieConts > .dataBox > .movies > .movieBox > .imgTitle{ width:213px; height:303px; cursor:pointer;  position:relative; }
.movieConts > .dataBox > .movies > .movieBox > .imgTitle > img{ width:100%; }
.movieConts > .dataBox > .movies > .movieBox > .imgTitle > .hoverBox{ outline:1px solid red; width:100%; height:100%; color:#fff; background-color:rgba(0, 0, 0, .8); position:absolute; top:0; left:0; opacity:0; }
.movieConts > .dataBox > .movies > .movieBox > .imgTitle > .hoverBox > p.story{    /* 줄거리 내용 길면 ...으로 줄여줌. */ 
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp:7;
    -webkit-box-orient: vertical;
    display:-webkit-box;  }
.movieConts > .dataBox > .movies > .movieBox > .imgTitle > .hoverBox:hover{ opacity:1; }
.movieConts > .dataBox > .movies > .movieBox > .textData > li{ margin:15px 0; }
/* .imgTitle > img{ width:213px; height:303px; display:inline-block; } */

.movieConts > .dataBox > .nodataTxt{ margin-top:100px; font-size:20px; text-align:center; }




/* ----------InformConts---------- */
.infromConts{ outline:1px solid red; width:100%; max-width:1000px; margin:50px auto; }
.infromConts > .topData{ outline:2px solid blue; width:100%; }
.infromConts > .topData > *{ outline:2px solid lime; float:left; }
.infromConts > .topData > .summaryBox{ width:calc(100% - 243px); margin-left:30px; }
.infromConts > .topData > .summaryBox > .title{ outline:px solid pink; margin-bottom:20px; }
.infromConts > .topData > .summaryBox > .title > h2{ font-size:18px; font-weight:400; }
.infromConts > .topData > .summaryBox > .title > .engTitle{ font-size:13px; color:#6b6b6b; }
.infromConts > .topData > .summaryBox > .otherData{ outline:px solid orange; font-size:14px; }
.infromConts > .topData > .summaryBox > .otherData > .other1,
.infromConts > .topData > .summaryBox > .otherData > .other2{ margin:5px 0; }
.infromConts > .topData > .summaryBox > .otherData > .other1 > span + span,
.infromConts > .topData > .summaryBox > .otherData > .other2 > span + span{ margin-left:12px; }
.infromConts > .topData > .summaryBox > .otherData > .other1 > span + span:before,
.infromConts > .topData > .summaryBox > .otherData > .other2 > span + span:before{ content:''; display:inline-block; border-left:1px solid #c2c1c1; width:0px; height:13px; padding-right:12px;  }

.infromConts > .detailBox{ outline:5px solid lightskyblue; margin-top:50px; }
.infromConts > .detailBox > .movieSlogan{ font-weight:600; color:#6b6b6b; }
.infromConts > .detailBox > .movieStory{ line-height:25px; margin:30px 0;  font-size:15px; color:#6b6b6b; }




